@font-face {
    font-family: 'Newake';
    src: url('fonts/Newake-Font-Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans';
    src: url('fonts/GillSans.ttc') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}

.single-movie-container {
    display: flex;
    align-items: center;
    background-color: #1C1C1C;
    background-size: cover;
    border-radius: 5px;
    padding: 15px;
}

.single-movie-image {
    width: 325px;
    height: 487px;
    border-radius: 5px;
}

.single-movie-details {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-movie-title {
    font-family: Newake, sans-serif;
    font-size: 50px;
    text-align: left;
    color: aliceblue;
}

.single-movie-description-container {
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.single-movie-description {
    text-align: left;
    color: aliceblue;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
}

.single-movie-provider-div {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-movie-provider{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
    text-align: center;
    margin-right: 10px;
}

.single-movie-button {
    margin-top: 10px;
}
